/* Reset CSS for all browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

.grouprow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 30px;

}

.groupbox {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: black;
  border: 1px solid black;
	text-decoration: none;
}

ul {
	list-style-type: none;
}



.game-container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.groupbox:hover {
	background-color: lightgrey;
}

.groupbox:focus {
	background-color: grey;
}

.date {
	width: 10%;
}

.match {
  width: 40%;
}

.inputfields {
	width: 35%;
}
