/* Reset CSS for all browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
  box-sizing: border-box;
}
body {
	background-color: #fdd5db;
}

.grouprow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	/* margin-top: 30px; */
	/* margin-bottom: 30px; */
	line-height: 75px;

}

.groupbox {
  width: 20%;
  height: 50px;
  margin: 2px;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  color: black;
  border: 1px solid black;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.gamebox {
	padding-left: 5px;
	padding-right: 5px;
}

.game-container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	background-color: #ffe6e6;
}

.game-container tr:nth-child {
	background: lightgrey;
}

.groupbox:hover {
	background-color: #ffe6e6;
}

.groupboxActive {
	background-color: pink;
}

.date {
	width: 13%;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 15px;
	/* margin-top: 10px; */
}

.match {
  width: 100%;
	font-size: 17px;
	font-family: verdana;
	margin-left: 20px;
	margin-top: 5px;
}

.time {
	font-size: 15px;
	color: #666666;
	margin-left: 10px;
	margin-top: 10px;
	/* margin-top: 10px; */
	width: 50%;
}

.tips {
	width: 30%;
	font-size: 15px;
	color: #666666;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.inputfields {
	width: 60%;
	text-align: right;
	margin-bottom: 10px;
}

.input {
	width: 20%;
}

.table-container {
  padding: 0px;
  margin-left: 10px;
  font-size: 17px;
}

.table-item {
	padding: 5px;
}

.table-headline {
  width: 100%;
	/* background-color: #a11014;
	color: white; */
	font-size: 15px;
	margin-left: 10px;
	padding-left: 10px;
	margin-top: 15px;
	margin-right: 10px;
}

.table-headline p span {
	background-color: #a11014;
	color: white;
	padding: 2px;
}

.header-headline h1 {
	font-size: 35px;
	font-family: verdana;
	text-align: center;
}

.header-headline h3 {
	font-size: 18px;
	font-family: verdana;
	text-align: center;
}

.groupstage-headline p {
	background-color: #a11014;
	color: white;
	padding: 2px;
	font-size: 18px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}
